[settings]
screenchange-reload = true

[bar/evolocity]
#bottom = true
height = 32
padding = 7
module-margin = 2
line-size = 3

font-0 = DejaVu Sans:pixelsize=18
#background = #55000000
#foreground = #fff

modules-left = title
modules-right = battery_voltage current time

[module/title]
type = custom/text
content = τ-morrow

[module/battery_voltage]
type = custom/script
exec = /opt/evolocity-js/client battery_voltage
tail = true
label = %output% V

[module/current]
type = custom/script
exec = /opt/evolocity-js/client current
tail = true
label = %output% A

[module/time]
type = custom/script
exec = /opt/evolocity-js/client time
tail = true
