[settings]
screenchange-reload = true

[bar/evolocity]
height = 42
radius = 8.0

line-size = 5
line-color = #f00

border-size = 5

padding = 3
module-margin = 1

background = #222
foreground = #dfdfdf

font-0 = DejaVu Sans:pixelsize=18;3

#modules-left = title
modules-right = economy speed battery_voltage current time power

[module/title]
type = custom/text
content = τ
content-underline = #f00

[module/economy]
type = custom/script
exec = /opt/evolocity-js/client economy
tail = true

[module/speed]
type = custom/script
exec = /opt/evolocity-js/client speed
tail = true

[module/battery_voltage]
type = custom/script
exec = /opt/evolocity-js/client battery_voltage
tail = true

[module/current]
type = custom/script
exec = /opt/evolocity-js/client current
tail = true

[module/time]
type = internal/date
date = %H:%M

;type = custom/script
;exec = /opt/evolocity-js/client time
;tail = true

[module/power]
type = custom/text
content = P
click-left = timeout 5 lxde-pi-shutdown-helper
